.DS_Store
*~
.emacs-opened-files
.savehist
.saveplace
tramp
eshell
.cask/*
projectile-bookmarks.eld
projectile.cache
elpa/*
recentf
rake.cache
vendor/atom-one-dark-theme/
vendor/crystal-mode/
ido.last
init.elc
/.persistent-scratch
ido.last
init.elc
places
network-security.data
abbrev_defs
forge-database.sqlite
transient/history.el
/smex-items
