.DS_Store
*~
.emacs-opened-files
.savehist
.saveplace
tramp
eshell
.cask/*
projectile-bookmarks.eld
projectile.cache
elpa/*
recentf
rake.cache
vendor/atom-one-dark-theme/
vendor/crystal-mode/
ido.last
init.elc
/.persistent-scratch
