[submodule "vendor/textmate"]
	path = vendor/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendor/minimap"]
	path = vendor/minimap
	url = git://randomsample.de/minimap.git
[submodule "vendor/centered-cursor"]
	path = vendor/centered-cursor
	url = https://github.com/emacsmirror/centered-cursor-mode.git
[submodule "vendor/dired+"]
	path = vendor/dired+
	url = https://github.com/emacsmirror/dired-plus.git
[submodule "vendor/sr-speedbar"]
	path = vendor/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar.git
[submodule "vendor/rhtml-mode"]
	path = vendor/rhtml-mode
	url = https://github.com/eschulte/rhtml.git
[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/themes/solarized"]
	path = vendor/themes/solarized
	url = https://github.com/cycojesus/emacs24-solarized.git
[submodule "vendor/themes/color-theme-solarized"]
	path = vendor/themes/color-theme-solarized
	url = https://github.com/huyz/emacs-color-theme-solarized.git
[submodule "vendor/ruby-end"]
	path = vendor/ruby-end
	url = https://github.com/rejeep/ruby-end.git
